{% extends "base.html" %}
{% block longtitle %}About{% endblock %}
{% block content %}
<p>Hi! I'm boolean_coercion, and this is my website. The site itself is mainly a means of challenging myself and
demonstrating my programming abilities.</p>

<p>The current implementation is written in C++, and uses the following libraries:</p>
<ul>
    <li>
        <code>Mongoose</code> - A robust embedded webserver written in C. <a href="https://mongoose.ws">Link</a>
    </li>
    <li>
        <code>Simple.css</code> - A CSS framework that makes semantic HTML look good. <a href="https://simplecss.org/">Link</a>
    </li>
    <li>
        <code>Inja</code> - A Template Engine for Modern C++. <a href="https://github.com/pantor/inja">Link</a>
    </li>
    <li>
        <code>nlohmann/json</code> - JSON for Modern C++. <a href="https://github.com/nlohmann/json">Link</a>
    </li>
    <li>
        <code>sqlite</code> - Speaks for itself. <a href="https://www.sqlite.org">Link</a>
    </li>
    <li>
        <code>Plog</code> - Portable, simple and extensible C++ logging library. <a href="https://github.com/SergiusTheBest/plog">Link</a>
    </li>
    <li>
        <code>MbedTLS</code> - An open source, portable, easy to use, readable and flexible TLS library. <a href="https://github.com/Mbed-TLS/mbedtls">Link</a>
    </li>
</ul>
<p>Pictures of andromeda used throughout the site are resized versions of <a href="https://commons.wikimedia.org/wiki/File:Andromeda_Galaxy_560mm_FL.jpg">this image from wikimedia commons</a>.</p>
{% endblock %}