{% extends "base.html" %}
{% block longtitle %}Message Board{% endblock %}
{% block content %}
<article>
    <h3>Post a message of your own!</h3>
    <form action="/game" method="post">
        <p>
            <label for="name">Your name:</label>
            <input type="text" id="name" name="name" required minlength="1" maxlength="40">
        </p>
        <p>
            <label for="content">Your message:</label>
            <textarea id="content" name="content" style="resize: none;" required minlength="1" maxlength="1000" rows="6"></textarea>
        </p>
        <button type="submit">Submit</button>
    </form>
</article>
{% endblock %}